#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %h3 Foruns
      %ul.list
        - @foruns.each do |forum|
          %li
            .item
              %h4=link_to forum.title, forum
              %p= forum.proposal
-content_for :sidebar do
  .block.notice
    %h4 Teste
    %p Olá mundo
