#block-text.block
  .secondary-navigation
    %ul.wat-cf
      %li
        %a{:href => ''} teste
  .content
    .inner
      %h2.title Foruns
      %ul.list
        - @foruns.each do |forum|
          %li
            %h3=link_to forum.title, forum
            %p= forum.proposal
-content_for :sidebar do
  .block.notice
    %h4 Teste
    %p Olá mundo
