#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %h3 Foruns
      %ul.list
        - @foruns.each do |forum|
          %li
            %h4=link_to forum.title, forum
            %p= forum.proposal

