#block-text.block
  .secondary-navigation
    %ul.wat-cf
      %li
        %a{:href => ''} teste
  .content
    .inner
      %h2.title Foruns
-content_for :sidebar do
  .block.notice
    %h4 Teste
    %p Olá mundo
