#block-formtastic.block
  .breadcrumb
    %ul
      %li.first
        %a{:href => '/'} Dashboard
      %li
        =link_to resource.forum.title, resource.forum
      %li.active
        %a{:href => ''}=resource.subject

  .content
    %h2=resource.subject
    .inner
      %p=resource.content
      %hr/
      #new_post 
        %h3 Post something...
        =semantic_form_for @new_post, :url => '' do |f|
          =f.inputs :content
          %hr/
          =f.buttons do
            %button.button{:type => 'submit'} Post

