#block-formtastic.block
  .breadcrumb
    %ul
      %li.first
        %a{:href => '/'} Dashboard
      %li
        =link_to resource.forum.title, resource.forum
      %li.active
        %a{:href => ''}=resource.subject

  .content
    %h2=resource.subject
    .inner
      %p=resource.content
      %ul.list
        -resource.posts.each do |post|
          %li.post
            .item
              -if post.user
                %img.avatar{:src => "#{post.user.gravatar_url(:size => '30')}", :title => "#{post.user.email}"}
              %p=post.content
      %hr/
      #new_post
        %h3 Post something...
        =semantic_form_for @new_post, :url => forum_topic_posts_path(resource.forum, resource) do |f|
          =f.inputs :content
          %hr/
          =f.buttons do
            %button.button{:type => 'submit'} Post

